apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-{{ .Release.Name }}
  namespace: {{ .Values.namespace }}
  annotations:
#    kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: nginx
spec:
#  tls:
#  - hosts:
#    - {{ .Values.ingress.host }}
#    secretName: tls-secret
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ .Values.service.name }}-{{ .Release.Name }}
          servicePort: 2000